# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Menanga\Documents\PROJECT\project Skripsi Andri\JiiPake\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/../../../../../../../../:\Users\Menanga\Documents\PROJECT\project Skripsi Andri\JiiPake\out/